@media (max-width:576px){
    .no_wide button{
        display:none;
    }
    .nav_logo p{
        width:176px;
        height:44px;
        font-size:16px;
        vertical-align: middle;
    }
    .navbar_content_itens{
        display: flex;
        margin-left:-105px;
        width:100%;
        padding-right:0;
        padding-left:0;
    }
    .menu_itens{
        text-align:right;
        width:180px;
    }

    #home h1{
        font-size:40px;
        padding-inline:10px;
    }
    #home p{
        padding-inline:10px;  
    }
    .no_wide_btn_home{
        display:none; 
        padding-inline:10px;
    }

    .img_what_it_does {
        width:331px;
        height:199px;
    }
    .text_what_is_does{
        padding-inline: 20px;
    }
    .text_what_is_does .p_25{
        padding-block:25px;
    }
    .shadow_what_it_does{
        margin-inline:auto;
    }

    #best_choice .container {
        padding: 80px 20px;
      }

    .best_choice_card{
        margin-top: 25px;
      } 
    
    #manufacture_gears{
        flex-direction: row-reverse;
        
    }

}