@media (max-width:576px){
    html{
        overflow-x: hidden;
    }
    .no_wide button{
        display:none;
    }

    nav#navigation .container{
        margin-top: 10px;
        padding:15px !important;
    }
    #home h1{
        width: 336px;
        margin-inline: auto;
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 49px;
        letter-spacing: 0.02em;
    }
    .text_home p{
        width: 340px;
        margin-inline: auto;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
    }
    .no_wide_btn_home{
        display:none; 
        padding-inline:10px;
    }
    #home .no_mobile_btn{
        margin-inline:auto;
        display:block;
    }
    .text_home a{
        text-decoration: none;
    }
    #btn_nav_contact{
        display: none;
    }
    #btn_home_resp{
        width: 340px;
        margin: auto;
    }

    .shadow_what_it_does{
        margin-top: 24px;
    }
    .img_what_it_does {
        width:320px;
        height:211px;
        margin: auto;
    }
    .text_what_is_does .p_marcacao{
        width: 340px;
        margin: auto;
    }
    .text_what_is_does h2{
        width: 340px;
        margin: auto;
    }

    #what_is_does_p{
        width: 340px;
        margin: auto;   
    }
    .text_what_is_does .p_25{
        padding-block:25px;
        width: 342px;
    }

    #best_choice .container {
        padding: 80px 20px;
      }
    .best_text{
        width: 340px;
        margin: auto;
    }
    #best_card{
      flex-wrap: wrap;  
    }
    .best_choice_card{
        margin-top: 25px;
    } 

    .manufacture_gears_text{
        margin-top:40px;
        margin-inline: auto;
        padding-inline: 0;
    }
    .manufacture_gears_text h2{
        width: 340px;
        margin-inline: auto;
    }
    .manufacture_gears_text p{
        width: 340px;
        margin-inline: auto;
    }
    .title_help_list{
        text-align: center;
        align-content: center;
    }
    .title_help{
        text-align: center;
        font-size: 32px;
    } 
    .p_help_list{
        width: 287px;
        font-family: 'Inter';
        text-align:inherit;
        font-size:18px;
        line-height:20px;
        font-weight: 600;
        margin:auto;
        color:#141414;
    }
    .card_help_text .p_help_list_mobile{
        width: 227px;
        font-family: 'Inter';
        text-align:inherit;
        font-size:11px;
        line-height:20px;
        font-weight: 600;
        margin:auto;
        color:#00A54F;
    }
    .help_list{
        margin-top:20px;
        margin-left: 15px;
    }
    .help_list p {
        align-items:center;
        margin-inline:35px;
        font-size:20px;
        line-height:30px;
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
    }
    .card_img_help_list{
        width: 251px;
        height: 80px;
        margin-top:-55px;
    }
    .card_help_text p{
        font-family:'Inter';
        font-size: 11px;
        line-height: 20px;
        font-weight: 600;
    }
    .img_help_list{
        padding-left: 32px;
    }
    .img_help_list img{
        width: 320px;
        height: 300px;
    }
    .help_list img{
        display: flex;
        position: absolute;
        margin-top: 18px;
        margin-left: 20px;
    }
    .btn_help_list{
        margin-left:10%;
    }

    .logo_customers div{
        text-align: center;
    }
    .logo_customers img{
        width:200px;
        height:75px;
        margin-bottom:40px;
    }
    
}