* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

:root {
    --primary-color:#00A54F;
    --bg-color:#D9DAEE;
}

html {
    scroll-behavior: smooth;
}

html,body {
    width: 100%;
    height:100%;
}

h1,h2,h3,h4,h5 {
    font-family: 'Noto Sans', sans-serif;
}

#home {
    width: 100vw;
    height: 100vh;
    
}
#home .bg_home{
    background-image: url(../img/background_home.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100vw;
}