* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

:root {
    --primary-color:#00A54F;
    --bg-color:#D9DAEE;
}

html {
    scroll-behavior: smooth;
}

html,body {
    width: 100%;
    height:100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Noto Sans', sans-serif;
}

h1{
    font-size: 48px;
    font-family: 'Noto Sans';
    font-weight: 600;
}

h2{
   font-size: 32px; 
}

h6 {
    color:var(--primary-color);
}

p{
    font-size: 18px;
    font-family: 'Inter';
    font-weight: 400;
}

.p_marcacao{
    font-size: 14px;
    font-family: 'Noto Sans';
    font-weight: 600;
    color: var(--primary-color);
}

p .card-marcacao{
    font-size: 12px;
}

#home {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/background_home.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    color: #ffff;
}

#home .container {
    height: 100vh;
}

#home p{
    font-size: 20px;
}

#what_it_does {
    background-color: #f0f0f0;
}

.img_what_it_does {
    background-image: url(/assets/img/image_1.webp);
    width: 485px;
    height: 292px;
}

.card_img_what_it_does{
    color: #ffff;
    background-color: var(--primary-color);
    width: 119px;
    height: 136px;
}

.card_img_what_it_does p{
    font-size: 14px;
    font-family: 'Noto Sans';
    font-weight: 600;
}


#best_choice{
    background-color: #f0f0f0;
}

#best_choice .container{
    padding: 80px 200px;
}

#best_card{
    display: flex;
    
}

.best_choice_card{
    background-color: #ffff;
    width: 236px;
    height: 350px;
    border-radius: 15px;
    margin: 0 24px;
    padding-top: 50px;
}

/* carousel */
.p_card{
    font-size: 14px;
}

