* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

:root {
    --primary-color:#00A54F;
    --bg-color:#D9DAEE;
    --bg-color-2:#F0F0F0;
}
html {
    scroll-behavior:smooth;
    overflow-x: hidden !important;
}
html,body {
    width:100%;
    height:100%;
    overflow:overlay;
}
h1,h2,h3,h4,h5,h6 {
    font-family:'Noto Sans', sans-serif;
}
h1{
    font-size:48px;
    font-weight:600;
}
h2{
   font-size:32px; 
   font-weight:600;
   line-height:48px;
   letter-spacing:2%;
}
p{
    font-family:'Inter';
    font-size:18px;
    font-weight:400;
    line-height:30px;
}

.p_card_what_it_does{
    font-family:'Inter';
    font-weight:600;
    font-size:15px;
    letter-spacing:1%;
    line-height:18px;
}
.p_marcacao{
    color:var(--primary-color);
    font-family:'Noto Sans';
    font-size:14px;
    font-weight:600;
    line-height:19px;
    letter-spacing:10%
}
p .card-marcacao{
    font-size:12px;
}

button{
    font-family:'Inter';
    font-weight:700;
    font-size:16px;
    line-height:19px;
    padding:10px 32px;
    border-radius:24px;
    border:none; 
}

.green_div {
    background-color:var(--primary-color);
}
.navbar{
    background-color: #fff0!important;
}
#offcanvasDarkNavbar{
    text-transform: uppercase;
    width:302px;
    text-align:center;
    font-size:20px;
    font-family:'Inter';
    font-weight:500;
    line-height:32px;
}
.offcanvas-body{
    padding-block: 74px 286px;

}
.offcanvas-body li:hover{
    transition:all 0.3s;
    transform:scale(1.15);
    
}

.nav_logo p{
    color: #ffff;
    font-family:'Noto Sans';
    font-weight:600;
    font-size:20px;
    line-height:27px;
    letter-spacing:2%;
    display: inline-flex;
}
.navbar-toggler {
    margin-left: 30px;
    border: none;
}
.navbar-toggler:focus{
    box-shadow:none;
}
.navbar_content_itens{
    text-transform:uppercase;
    border-radius:5px;
    align-items:left ;
    background-color:rgba(255, 255, 255, 0.3);
    padding-right:200px;
    margin-top:25px;
    position:absolute;
    z-index:500;
    padding-left:30px;
}
.btn_nav_contact:hover{
    background-color: var(--primary-color);
    color: #ffff;
}

#home {
    width:100vw;
    height:100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), 
    url(../img/background_home.webp);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    height:100%;
    color:#ffff;
}
#home .container {
    height:100vh;
}
#home p{
    font-size:20px;
    margin-block:32px;
}
.text_home{
    width:727px;
}
#home button {
    background-color:#ffff; 
}
#home button:hover{
    background-color: var(--primary-color);
    color: #ffff;
}

#what_it_does {
    background-color:var(--bg-color-2);
    padding-block: 90px;
}
.text_what_is_does{
    width:540px;
    margin-right:80px;
    margin:auto;
}
.shadow_what_it_does{
    box-shadow:-1rem -1rem var(--primary-color) !important;
    margin:auto;
}
.img_what_it_does {
    background-image:url(/assets/img/image_1.webp);
    width:485px;
    height:292px;
    background-size:cover;
}
.card_img_what_it_does{
    color:#ffff;
    background-color:var(--primary-color);
    width:119px;
    height:136px;
}
.card_img_what_it_does img{
    padding-bottom:12px;
}
.card_img_what_it_does p{
    font-size:15px;
    font-family:'Inter';
    font-weight:600;
    letter-spacing:1%;
    line-height:18px;
}

#best_choice{
    background-color:var(--bg-color-2);
}
#best_choice .container{
    padding:80px 200px;
}
.best_text{
    margin:auto;
    width:741px;
    text-align:center;
    margin-bottom:62px;
}
#best_card{
    display:flex; 
    flex-wrap: nowrap; 
}
.best_choice_card{
    background-color:#ffff;
    width:236px;
    height:350px;
    border-radius:15px;
    margin:0 24px;
    padding-top:50px;
}
.best_choice_card:hover{
    background-color: var(--primary-color);
    color: #ffff;
}
.img{
    margin-bottom:10%;
}
.best_choice_card h3{
    font-size:24px;
}
.best_choice_card p{
    margin-top:10%;
}

.manufacture_gears_text h2{
    width:552px;
    margin-bottom:16px;
}
.manufacture_gears_text p{
    width:531px;                
}
.manufacture_gears img {
    width:714px;
    height:493px;
}
.manufacture_gears_text{
    color:#ffff;
    padding-block: 0 80px;
    padding-inline:80px;
    
}
.manufacture_gears_text button{
    margin-top:30px;
    color:#ffff;
    background-color:var(--primary-color);
    border:2px solid #ffff;
}
.manufacture_gears_text button:hover{
    background-color:#ffff;
    color: var(--primary-color);

}


#how_can_we_help {
    background-color:var(--bg-color-2);
    padding-block:100px;
}
.help_contains{
    margin-left: 50px;
    
}
.help_text{
    margin: auto;
}

.help_list p {
    width:546px;
    margin-bottom:0;
    padding:0.5rem;
}
.img_help_list {
    padding-left:69px;
}
.card_img_help_list {
    background-color:#ffff;
    width:384px;
    height:121px;
    box-shadow:-10px 0 var(--primary-color);
    margin-top:-81px;
    position:relative;
    margin-left:24px;
    flex-direction:column;
    display: flex;
    align-items:center;
    justify-content: center;
}
.p_help_list{
    color:var(--primary-color);
    font-family:'Inter';
    font-size:18px;
    font-weight:600;
    line-height:30px;  
}
.btn_help_list{
    padding-block:45px;
}
.btn_help_list button{
    background-color: #F0F0F0;
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
}
.btn_help_list button:hover{
    background-color: var(--primary-color);
    color: #ffff;
}

/* carousel */
#carousel {
    background-color:var(--bg-color-2);
    padding-bottom:80px; 
}
.carousel-inner{
    width:80%;
}
.carousel_text{
    margin-bottom:60px;
}
.card{
    width: 286px;
    height: 450px;
    background-color: #f0f0f0;
    margin-block: 10px;
    border:none;
    margin-inline:10px;
  }
.carousel_card_text {
    padding:10px;
}
.title_card_carousel{
    width: 242px;
    height: 60px;
}
.text_card_carousel{
    width:242px;
    height:152px;
}
.card-title{
    font-family:'Inter';
    font-weight:500;
    font-size:20px;
    line-height:30px;   
}
.card_marcacao{
    font-family:'Noto Sans';
    font-weight:600;
    font-size:12px;
    line-height:16px;
    letter-spacing:10%;
    color:var(--primary-color);
    padding-top:5px;
    padding-bottom:0;
}
.p_card{
    font-family:'Inter';
    font-weight:400;
    Font-size:14px;
    line-height:30px;
}
.card_link a{
    color: var(--primary-color);
    font-family:'Noto Sans';
    font-weight:600;
    font-size:12px;
    line-height:16px;
    letter-spacing:10%;
    padding-left:10px; 
}

.customers_text{
    padding-block:80px 60px;
    color:#ffff;
}
.p_marcacao_customers{
    font-family:'Noto Sans';
    font-weight:600;
    font-size:14px;
    line-height:19px;
    letter-spacing:10%;
    margin-bottom:0;
}
.logo_customers{
    padding-bottom:80px;
}

#story{
    padding-block: 80px 130px;
}
.story_text{
    width:480px;
    margin: auto;
}
#story img{
    box-shadow:-1rem 1rem var(--primary-color);
    margin-left:auto;
}

#company_and_machines{
    padding-bottom: 80px; 
}
.company_text{
    width:1095px;
    margin: auto;
}
.company_text p{
    margin:0;
}
.img_company{
    padding-top:50px;
    width:1095px;
    margin: auto;
}
.image{
    margin-bottom:8px;
}
.image_2{
    margin-inline:8px;
}
.image_5{
    margin-left:8px;
}

/* footer */
#contact {
    background-color:#373636;
    color:#ffff;
}
#contact .container{
    padding-block: 80px 40px;
}
.contact_details  p a{
    text-decoration: none;
    color: #ffff;
}
.menu_footer {
    display:grid;
    margin: auto;

}
.menu_footer a{
    color: #ffff;
    text-decoration:none;
    font-family:'Inter';
    font-weight:500;
    font-size:16px;
    line-height:16px;
    margin-block:16px;  
}
.menu_footer a:hover{
    text-decoration:underline;
    color: #ffff;
}
.coopright a{
   text-decoration:none;
   color:#ffff; 
}



